@function z-index($layer) {
  $nudge: 10;

  @if length($layer) > 1 {
    $position: nth($layer, 1);
    $value: nth($layer, 2);
    $value: map-get($layers, $value);

    // If position is above add
    @if $position == 'above' {
      $value: $value + $nudge;
      @return $value;
    }

    // If position is below subtract
    @if $position == 'below' {
      $value: $value - $nudge;
      @return $value;
    }
  } @else {
    @return map-get($layers, $layer);
  }
}
