@import 'reset';
@import 'functions';
@import 'mixins';

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
  color: $text-color;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

#app {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, $dk-blue 0%, #000000 100%);
}

.wrapper {
  display: flex;
  flex: 1 auto;
  flex-flow: column;
  position: relative;
  max-height: 1920px;
  max-width: 1080px;
  overflow: hidden;

  & > * {
    flex: 1 100%;
  }
}

@import 'utilities';
