.carousel {
  display: flex;
  position: relative;
  left: -78%;
  transform: translateX(7%);

  &.reverse {
    transform: translateX(-7%);
  }

  &.set {
    transform: none;
    transition: transform 1s cubic-bezier(.23, 1, .32, 1);
  }
}
