.columns {
  display: block;
  flex: 0 0 1;

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--full {
      display: block;
      flex: none;
      width: 100%;
    }

    @for $i from 2 through $grid-columns {
      &--#{$i} > * {
        flex: none;
        width: percentage(100 / ($i * 100));
      }
    }
  }
}
