.columns {
  display: block;
  flex: 0 0 1;

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1rem;

    > * {
      border: 1rem solid transparent;
      box-sizing: border-box;
    }

    &--full {
      display: block;
      flex: none;
    }

    @for $i from 2 through $grid-columns {
      &--#{$i} > * {
        flex: none;
        width: percentage(100 / ($i * 100));
      }
    }
  }
}
