.footer-menu {
  $b: &;

  position: absolute;
  bottom: -100%;
  width: 100%;
  background-color: $dk-blue;
  text-align: center;
  z-index: z-index(exosphere);
  transition: all 300ms ease;

  &__wrapper {
    display: flex;
    flex-flow: column;
    margin: 3rem;
    padding: 2rem 4rem 0;
    height: 100%;
    background-color: $darken;
  }

  &.fade-in {
    bottom: 0;
  }

  &__title {
    margin-bottom: 2rem;
    font-weight: 200;
    color: #fff;
  }
}
