.footer {
  display: flex;
  align-items: center;
  max-height: 10%;
  order: 3;
  z-index: z-index(stratosphere);

  &__menu {
    display: flex;
    padding-left: 1rem;

    > * {
      margin-right: 0.75rem;
    }
  }
}
