.svg {
  vertical-align: middle;

  &--caduceus {
    width: 60px;
  }

  &--close,
  &--menu {
    width: 90px;
    font-size: 0.7rem;
  }

  &--leftPaddle,
  &--rightPaddle {
    width: 55px;
  }

  &--plus {
    width: 30px;
  }
}
